* {
    margin: 0;
    padding: 0;
}

.top-bar {
    background: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.top-bar-item {
    margin: 0 2rem;
}

.btn {
    background: coral;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
}

.btn:hover {
    opacity: 0.9;
}

.page-info {
    padding-top: 0.625rem;
}

.error {
    background: orangered;
    color: #fff;
    padding: 1rem;
}

body {
    background: #555;
}
#doc-container {
    background: #555;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.canvas-wrapper {
    flex: 0 0 50vw;
}

.canvas-wrapper:nth-child(2n + 1) {
    text-align: end;
}
